body{
    background-color: #232830;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
    font-size: 30px;
    font-family: 'Poppins';
    line-height: 100%;
    letter-spacing: 0%;
}

.right-nav {
    display: flex;
    gap: 32px;
    font-size: 24px;
}

.slogan{
    text-align: center;
}

.main-slogan {
    font-size: 71px;
    font-family: 'Recursive';
    font-weight: 400;
    font-style: italic;
    color: #ff7575;
    line-height: 100%;
    letter-spacing: 0%;
}

.aside-slogan {
    font-size: 29px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #ffffff;
    line-height: 100%;
    letter-spacing: 0%;
}

.categories{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive';
    font-weight: 400;
    font-style: italic;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
}

.grid-icon, .list-icon {
    width: 24px;
    height: 24px;
}